IMAGE_TAG=v1.0.0

POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=the_last_of_guss

JWT_SECRET=change_me
CORS_ORIGIN=https://last-of-guss.example.com

# BACKEND_PORT=3001
# FRONTEND_PORT=8080
# ROUND_DURATION=60
# COOLDOWN_DURATION=30
