POSTGRES_USER=admin
POSTGRES_DB=the_last_of_guss
BACKEND_PORT=3001
ROUND_DURATION=60
COOLDOWN_DURATION=30
CORS_ORIGIN=https://last-of-guss.example.com
BACKEND_URL=https://api.last-of-guss.example.com
